<header id="showcase">
  <h1>Welcome To The Coffee House</h1>
  <p>A mathematician is a device for turning coffee into theorems</p>
</header>
<section id="section-a">
  He was my cream, and I was his coffee - And when you poured us together, it was something</section>
<section id="section-b">
  <p>I wake up some mornings and sit and have my coffee and look out at my beautiful garden, and I go, "Remember how good this is. Because you can lose it"
  </p>
</section>
<section id="section-c">
  <div class="box-1">
    Good communication is just as stimulating as black coffee, and just as hard to sleep after  
  </div>
  <div class="box-2">
    Good communication is just as stimulating as black coffee, and just as hard to sleep after
  </div>
  <div class="box-3">
    Good communication is just as stimulating as black coffee, and just as hard to sleep after  
  </div>
</section>
