.order-wrapper {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-areas: "b f f f f";
}
.order-filter-wrapper {
  margin: 2vw;
}

.orders-filters {
  min-width: 12vw;
  max-height: 50vh;
  padding: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: whitesmoke;
  border-radius: 20px;
  grid-area: "b";
}

.orders-filters > a,
.pagination > a,
.search-by-user > input[type="submit"] {
  margin: 10px 0;
  border: 3px solid gray;
  padding: 10px;
  width: 10vw;
  text-align: center;
  border-radius: 5px;
  color: gray;
  transition: 0.3s ease-in;
}

.orders-filters > a:hover,
a:active,
.pagination > a:hover,
a:active,
.search-by-user > input[type="submit"]:hover,
input[type="submit"]:active {
  color: white !important;
  background-color: grey;
}

.horizontal-line {
  min-width: 12vw;
  margin: 10px 0;
}

.order_status {
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.red {
  background-color: rgba(209, 0, 0, 0.808);
}

.green {
  background-color: rgba(59, 209, 0, 0.794);
}

.order-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-list-table-wrapper {
  width: 100%;
  height: 80vh;
  overflow: auto;
  margin: 0 auto;
  grid-area: "f";
}
.order-list-table-wrapper table,
tr,
td,
thead,
th {
  text-align: left;
}

.order-list-table-wrapper table {
  /* border-collapse: collapse; */
  width: 100%;
}

.order-list-table-wrapper thead {
  border-bottom: 3px solid black;
}
.order-list-table-wrapper th,
td {
  padding: 15px;
}
.order-list-table-wrapper tr:nth-child(even) {
  background-color: burlywood;
}

.order-list-table-wrapper th {
  font-weight: 900;
}

.pagination {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-by-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Order-details  */

.order-details-wrapper {
  width: 70%;
  margin: 10vh auto;
}

.order-detail-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 5rem;
}

.order-title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-title-section > h4 {
  color: brown;
  font-weight: 900;
}

.order-detail-card > p {
  color: black;
  font-style: italic;
  margin: 30px 0;
}

.order-items-list {
  width: 70%;
  margin: 0 auto;
}

.order-items-list thead {
  font-weight: bold;
}

.order-items-list table,
.order-items-list td,
.order-items-list th,
.order-items-list tr {
  border: 1px solid rgb(27, 26, 26);
  text-align: center;
}

.order-items-list > table {
  border-collapse: collapse;
  width: 100%;
}

.order-items-list > th,
tr td {
  padding: 15px;
}

.order-grand-total {
  text-align: right;
  margin: 30px 0;
}

.order-grand-total > span {
  font-size: 24px;
  color: brown;
  font-weight: 900;
}

.download-invoice {
  padding: 12px;
  border: 2px solid slateblue;
  color: slateblue;
  width: 60%;
  margin: 10vh auto 0 auto;
  display: block;
  text-align: center;
  border-radius: 10px;
  font-weight: 900;
  transition: 0.3s ease-in;
}

.download-invoice:hover,
.download-invoice:active {
  color: white !important;
  background-color: slateblue;
}
